body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;

}

.calculatorBody {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 620px;
    border: solid 2px black;
    background-color: black;
}

.row {
    display: flex;
    height: 100px;
}

.display {
    height: 100px;
    margin: 5px;
    background-color: grey;
    display: flex;
    justify-content: end;
    align-items: end;
    color: black;
}

button {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 36px;
    padding: 0px;
    border-radius: 10px;
    
    
}

.zero {
    flex-grow: 3;
}

.clear {
    flex-grow: 3;
}